---
title: top
---
.item.box1
  %h2 grid item box1

.item.box2
  %h2 grid item box2

.item.box3
  %h2 grid item box3

.item.box4
  %h2 grid item box4

.item.box5
  %h2 grid item box5

.item.box6
  %h2 grid item box6

.item.box7
  %h2 grid item box7
